{% extends "base.html" %}{% block content %}
		<meta charset="utf-8">
		<script src="static/dash.all.min.js"></script>
		<script>
			function init() {
				var url = 'http://localhost:81/{{link}}';
				var video = document.querySelector("#videoPlayer");
				var player = dashjs.MediaPlayer().create();
				player.initialize(video, url, true);
			};
			window.onload=init;
		</script>
		<style>
			video {
				width: 640px;
				height: 360px;
			}
		</style>
		<div>      

      <h1>{{name}}</h1>
      <p><a href="{{back}}"><<< back</a> to {{back}}</p>
      <br><br>
			<video id="videoPlayer" controls ="true"> </video>
		</div>
    
    <br>
    {% if not recs %}
    <br>
    {% else %}
    <p>If you enjoyed this, why not try one of these reccomendations?</p>
    <p>*** Not actually working yet (returning all after walking genres)</p>    
    <p>*** You get the idea though</p>    

    {% for i in recs %}
    <li>{{i}}</i>
    {% endfor %}
    {% endif %}
    
  
{% endblock %}