{% extends "base.html" %}
{% block content %}

{% block head %}
{{super()}}
{% endblock %}
<br>

{% for i,j in video_data.items() %}

<div class ="cat-vid-container">


<img src="{{j[0].items()[8][1]}}" style="width:192px;height:320px;float:left;margin:0 20px 0 75px;">

<h3>{{i}}</h3>

<form action="tv_shows" method="post">
  <input type="hidden" name="SERIES TITLE" value="{{i}}">
  <input type="hidden" name="SERIES-TF" value="True">
  <input class="btn-watch" type="submit" value="View available episodes">
</form>

<br>

<p><b>Description:</b> {{j[0].items()[0][1]}}</p>
<p><b>Rating:</b> {{j[0].items()[1][1]}}</p>  
<p><b>Genre:</b> {{j[0].items()[12][1]}}</p>
<p><b>Runtime:</b> {{j[0].items()[16][1]}}</p>
<p><b>imdb Rating:</b> {{j[0].items()[19][1]}}</p>
<p><b>Awards:</b> {{j[0].items()[11][1]}}</p>

<br>
</div>
<br>
<br><br>

{% endfor %}      
{% endblock %}